* {
  background-color: darkcyan;
}
p {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
h1 {
  font-family: "Arial", sans-serif;
  text-transform: capitalize;
  font-size: 3em;
}
.api {
  font-size: 18px;
  font-weight: 300;
}
.awan {
  font-size: 150%;
  font-weight: 700;
}
